.git
.github
node_modules
dist
coverage
*.log
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
prisma/*.db
prisma/*.db-journal
README.md
